atv1/q2
atv1/q2.hi
atv1/q2.o
atvs/atv1/q1
atvs/atv1/q1.hi
atvs/atv1/q1.o
atvs/atv1/Atividade01_bianca.hs
atvs/atv1/q3
atvs/atv1/q3.hi
atvs/atv1/q3.o
atvs/atv2/q1
atvs/atv2/q1.hi
atvs/atv2/q1.o
atvs/atv2/q2
atvs/atv2/q2.hi
atvs/atv2/q2.o
atvs/atv2/q3
atvs/atv2/q3.hi
atvs/atv2/q3.o
atvs/atv3/q1
atvs/atv3/q1.hi
atvs/atv3/q1.o
atvs/atv2/q4
atvs/atv2/q4.hi
.gitignore
atvs/atv2/q4.o
atvs/atv3/q2
atvs/atv3/q2.hi
atvs/atv3/q2.o
atvs/atv3/q4
atvs/atv3/q4.hi
atvs/atv3/q4.o
atvs/atv3/q5.o
atvs/atv3/q5.hi
atvs/atv3/q5
atvs/atv3/q6
atvs/atv3/q6.hi
atvs/atv3/q6.o
trabalhos/trabalho1/q
trabalhos/trabalho1/q3
trabalhos/trabalho1/q3.hi
trabalhos/trabalho1/q3.o
atvs/atv3/q3
atvs/atv3/q3.hi
atvs/atv3/q3.o
funcoes/listas/listas
funcoes/listas/listas.hi
funcoes/listas/listas.o
trabalhos/trabalho1/q4
trabalhos/trabalho1/q4.hi
trabalhos/trabalho1/q4.o
trabalhos/trabalho1/q5
trabalhos/trabalho1/q5.hi
trabalhos/trabalho1/q5.o
atvs/atv4/q2
atvs/atv4/q2.hi
atvs/atv4/q2.o
atvs/atv4/q5
atvs/atv4/q5.hi
atvs/atv4/q5.o
funcoes/listas/listas_manuais
funcoes/listas/listas_manuais.hi
funcoes/listas/listas_manuais.o
