atv1/q2
atv1/q2.hi
atv1/q2.o
atvs/atv1/q1
atvs/atv1/q1.hi
atvs/atv1/q1.o
atvs/atv1/Atividade01_bianca.hs
atvs/atv1/q3
atvs/atv1/q3.hi
atvs/atv1/q3.o
atvs/atv2/q1
atvs/atv2/q1.hi
atvs/atv2/q1.o
atvs/atv2/q2
atvs/atv2/q2.hi
atvs/atv2/q2.o
atvs/atv2/q3
atvs/atv2/q3.hi
atvs/atv2/q3.o
atvs/atv3/q1
atvs/atv3/q1.hi
atvs/atv3/q1.o
atvs/atv2/q4
atvs/atv2/q4.hi
.gitignore
atvs/atv2/q4.o
